slurm*
.Rproj.user
Rcode/.Rproj.user
Rcode/markdowns/*
Rcode/*.html
Rcode/.Rhistory
Rcode/Rprofile
!Rcode/markdowns/template.Rmd
experiments/.snakemake/*
.Rapp.history
*.Rhistory
experiments/data/markdowns/
!experiments/data/markdowns/*topSeparators.Rmd
experiments/data/htmls/*files
experiments/logs/
